* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1200px;
    margin: 0 auto;
}
input {
    outline: none;
}
li {
    list-style: none;
}

body {
    background-color: #f3f5f7;
}

a {
    text-decoration: none;
    color: #424243;
}

.header {
    height: 42px;
    margin: 30px auto;
}

.logo {
    float: left;
    width: 192px;
}

.clear {
    clear: both;
}
.nav {
    float: left;
    width: auto;
    line-height: 42px;
    margin-left: 50px;
    font-size: 18px;
}
.nav ul li {
    float: left;
}

.nav ul li a {
    display: block;
    width: auto;
    padding: 0 10px;
    margin: 0 12px;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;

}

.search {
    float: left;
    margin-left: 80px;
    padding-left: 20px;
    width: 360px;
    height: 38px;
    border: 2px solid #00a4ff;
    border-right: none;
    color: #cececf;
}

.searchbar button {
    float: left;
    width: 50px;
    height: 42px;
    background-image: url(../images/css第五天/searchbtn.png);
    border: none;
}

.useravatar {
    float: left;
    margin-left: 30px;
}
.useravatar img{
    float: left;
    margin:6px;
}

.useravatar a {
    float: left;
    color: #7e7e7f;
    line-height: 42px;
    font-size: 14px;
}

.banner {
    height: 420px;
    background-color: #1c036c;
}

.banner .w{
    height: 420px;
    background: url(../images/css第五天/banner2.jpg) no-repeat top center;
}

/* banner区侧边栏 */

.side-nav {
    float: left;
    width: 140px;
    height: 390px;
    padding: 15px 20px;
    background: rgba(0,0,0,0.3);
}

.side-nav ul li a {
    display: block;
    height: 42px;
    width: 140px;
    line-height: 42px;
    font-size: 14px;
    color: #d3d1d9;
}

.side-nav ul li a:hover {
    color: #00b4ff;
}

.side-nav ul li a span {
    float: right;
}

.lesson {
    float: right;
    width: 230px;
    height: 300px;
    background-color: #fff;
    margin-top: 50px;
    text-align: center;
}

.course-title {
    display: block;
    height: 48px;
    width: auto;
    background-color: #9bceea;
    color: #ffffff;
    font-size: 18px;
    line-height: 48px;

}

.course-list {
    display: block;
    height: 45px;   
    width: auto;
    padding-left: 20px;
    padding-top: 20px;
    text-align: initial;
}

.course-list a h4 {
    font-size: 18px;
    color: #717171;
    font-weight: 400;
} 
.course-list a h4 span {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 400;
}

.course-list a p {
    font-size: 12px;
    color: #a5a5a5;
}

.lesson button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    border: 2px solid #22b0ff;
    color: #22b0ff;
    font-weight: 500;
    font-size: 16px;
}

.sub-nav {
    height: 69px;
}

.tabline li {
    position: relative;
    float: left;
    padding: 20px 0px;
    font-size: 18px;
    line-height: 29px;
}

.tabline li h3 {
    color: #00a4ff;
    margin: 0 30px;
    font-weight:500;
}

.tabline li a {
    padding: 0 30px;
    border-left: 2px solid #bfbfbf;
}

.sub-nav>a {
    float: right;
    margin-right: 30px;
    height: 69px;
    font-size: 14px;
    line-height: 69px;
    color:#00a4ff;
}


.interests-title {
    height: 55px;
}

.interests-title.w h2 {
    float: left;
    height: 55px;
    width: 229px;
    font-size: 20px;
    color: 686969;
    font-weight: 500;
    line-height: 55px;
}

.interests-title.w ul {
    float: left;
    margin-left: 165px;
}

.interests-title.w ul li {
    float: left;
    margin: auto 35px;
    height: 55px;
    font-size: 16px;
    color: 686969;
    line-height: 55px;
}

.interests-title.w ul li:first-child {
    color: #00a4ff;
}

.interests-title.w>a {
    float: right;
    height: 55px;
    font-size: 12px;
    color: 686969;
    line-height: 55px;
}

.lesson-row {
    height: 271px;
}

.lesson-card {
    float: left;
    margin-right: 15px;
    width: 228px;
    height: 271px;
}

.lesson-img {
    height: 155px;
    width: 228px;
}

.lesson-detail {
    padding: 25px;
    height: 116px;
}

.lesson-title {
    font-size: 14px;
}
.lesson-type {
    margin-top: 15px;
    font-size: 12px;
}
.lesson-type span{
    color: #ff7c2d;
}

.lesson-row ul li:last-child {
    margin-right: 0px;
}

.lessons-leftcol {
    float: left;
    width: 229px;
    height: 390px;
}

.lesson-guide-img {
    width: 229px;
    height: 390px;
}

.lessons-rightcol {
    float: left;
    margin-left: 10px;
    width: 961px;
    height: 390px;
}

.lessons-banner {
    height: 100px;
    margin-bottom: 15px;
}


